<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="icon" href="/public/logo2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/public/variables.css">
    <link rel="stylesheet" href="/public/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Welcome | Faith Christian School</title>
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">Faith Christian School.</h1>
            <img class='logo-image' src="/public/logo2.jpg" alt="">
            <nav class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/academics">Academics</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
            <div class="menubtn"><i class="fas fa-bars"></i></div>
        </div>
    </div>

    <!-- Showcase -->
    <section class="">


        <div class="space py-5"></div>
        <div class="container grid">
            <div class="motto">
            </div>
        </div>
        <h2 class="text-center py-5">Your request has been submitted successfully</h2>
        <a href="/">
            <h3 class="text-center py-2">Home</h3>
        </a>
    </section>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js "></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/public/index.js"></script>
</body>

</html>